@charset "UTF-8";

.box {
  margin: 20px;
  width:1500px; 
  height: 800px; 
  border:1px solid #93B4C4; 
  background-color: rgba(30,60,90,0.5); 
}
.fixed {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width:200px;
   border:1px solid #D49999; 
   background-color:rgba(90,60,30,0.5);
}
p {
  text-align:center; 
  line-height: 60px;
}
.fixed p {
  line-height: 20px;
}
