@charset "UTF-8";

@media screen and (min-width:10px) and (max-width:900px){
   .box {
  margin: 5px;
  width: 100%; 
  max-height: 100%; 
  border:1px solid #93B4C4; 
  background-color: rgba(250,150,100,0.5); 
}
  
   .minibox {
  margin: 5px;
  width: 100%; 
  max-height: 100%; 
  border:1px solid #93B4C4; 
  background-image: url("jpg その他 image 1.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
}
  
    .fixed {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(10,50,150,0.2);
}
  
   p {
  text-align:center; 
  line-height: 60px;
}
  
   .fixed p {
  line-height: 20px;
}
  
  
  }
 


 @media screen and (min-width:1000px) and (max-width:2000px){
   .box {
  margin: 5px;
  width: 100%; 
   max-height: 100%; 
  border:1px solid #93B4C4; 
  background-color: rgba(150,50,10,0.5);
}   
   
   .minibox {
  margin: 5px;
  width: 100%; 
  max-height: 100%; 
  border:1px solid #93B4C4; 
  background-image: url("jpg その他 image 1.JPEG");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;  
}
   
    .fixed {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(10,100,200,0.2);
}
   
   p {
  text-align:center; 
  line-height: 60px;
}
   
.fixed p {
  line-height: 20px;
}
   
   
}
